.book-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	background: #86151d;
	min-height: 24px;
	line-height: 24px;
	color: #eeeeee;
	font-size: 1em;
}

.book-banner p {
  margin: 0;
  padding: 5px;
}

.book-banner a {
	color: #eee;
	text-decoration: underline;
}